@model KaromiProject.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <table class="table">
            <tr>
                <td>
                    @Html.EditorFor(model => model.LoginEmail)
                    @Html.ValidationMessageFor(model => model.LoginEmail, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Go" class="btn btn-success" />
                </td>
            </tr>
        </table>
    </div>
    <div class="piechart" id="chartContainer" style="height: 200px; width: 100%;"></div>
}
<script type="text/javascript">

    let hrCount = @Model.Employees.Where(emp => emp.Role.Equals("HR")).Count();
    let pmCount = @Model.Employees.Where(emp => emp.Role.Equals("PM")).Count();
    let tlCount = @Model.Employees.Where(emp => emp.Role.Equals("TL")).Count();
    let devCount = @Model.Employees.Where(emp => emp.Role.Equals("DEV")).Count();

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Karomi Employees in 2020"
            },
            data: [
                {
                    type: "pie",
                    showInLegend: true,
                    toolTipContent: "{y} - #percent %",
                    legendText: "{indexLabel}",
                    dataPoints: [
                        { y: hrCount, indexLabel: "HR" },
                        { y: pmCount, indexLabel: "Project Managers" },
                        { y: tlCount, indexLabel: "Team Leads" },
                        { y: devCount, indexLabel: "Developers" }
                    ]
                }
            ]
        });
        chart.render();
    }
</script>


